@font-face {
  font-display: swap;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Heebo-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local('Heebo'),,
       url('../fonts/Heebo-VariableFont_wght.ttf') format('truetype')
}

@font-face {
  font-display: swap;
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Signika-VariableFont_GRAD,wght.ttf'); /* IE9 Compat Modes */
  src: local('Heebo'),,
       url('../fonts/Signika-VariableFont_GRAD,wght.ttf') format('truetype')
}